html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background: #BDC7E5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

img {
    width: 800px;
    height:290px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

@media screen and (max-width: 800px){
    img {
        width: 500px;
        height:290px;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media screen and (max-width: 500px){
    img {
        width: 300px;
        height:290px;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }
}

#choices{
    background: lightgrey;
    width:260px;
    display: block;
    margin: 15px auto;
    padding: 15px;
    border-radius: 15px;
    font-weight: 700;
}

.choice{
    display:inline-block;
    text-decoration:none;
    font-weight: bold;
    border: 1px solid black;
    color: #fff;
    background-color: #538fbe;
    padding: 10px;
    cursor: pointer;
}

.choice:active{
    background-color: #538fee;
    transform: translateY(2px);
}
#scoreBoard {
    border-radius: 15px;
    width:200px;
    display: block;
    margin: 15px auto;
}

.score {
    background: lightgrey;
    margin-bottom: 20px;
    border:solid black 1px;
    border-radius: 15px;
}

.label {
    padding: 15px;
    display: inline-block;
    width: 75px;
    text-align: left;
    border-right: solid black 1px;
}

@font-face{
    font-family:'digital-7';
    src: url('assets/digital-7.ttf');
   }

.scorePoint {
    font-family: 'digital-7';
    display: inline-block;
    width: 115px;
    text-align: center;
    font-size: 1.6em;
}

#messageBox{
    height: 90px;
    width: 380px;
    margin: 0 auto;
    background:lightgrey;
    border-radius: 15px;
    margin-bottom: 10px;
    border: 1px solid black;
}

#messageLabel{
    font-size: 1.3em;
    padding: 33px 0;
    margin-left: 20px;
    display: inline-block;
    width: 90px;
    border-right: solid black 1px;
}

#message{
    font-size: 1.2em;
    margin-left: 10px;
}
footer {
    background: grey;
    width: 100%;
    padding: 10px;
    margin-top: auto;
}